flow.json
[{"id":"ed5da03d.9a7338","type":"amazon s3 put","z":"41d20a2.58b8374","aws":"","bucket":"noderedbk","filename":"","localFilename":"","contentType":"application/json","contentEncoding":"","region":"eu-central-1","isBase64":"","name":"backup","acl":"bucket-owner-full-control","outputs":1,"x":565.7142944335938,"y":374.42852783203125,"wires":[["e6e760c7.ba3af"]]},{"id":"7bba2c89.820024","type":"function","z":"41d20a2.58b8374","name":"","func":"msg.timestamp= new Date().toISOString()\n    var now     = new Date(); \n    var year    = now.getFullYear();\n    var month   = now.getMonth()+1; \n    var day     = now.getDate();\n    var hour    = now.getHours();\n    var minute  = now.getMinutes();\n    var second  = now.getSeconds(); \n    if(month.toString().length == 1) {\n    var month = '0'+month;\n    }\n    if(day.toString().length == 1) {\n    var day = '0'+day;\n    }   \n    if(hour.toString().length == 1) {\n    var hour = '0'+hour;\n    }\n    if(minute.toString().length == 1) {\n    var minute = '0'+minute;\n    }\n    if(second.toString().length == 1) {\n    var second = '0'+second;\n    }   \n    msg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n\nmsg.filename = msg.timestamp;\nmsg.filename += \"-backup-nodered-home\";\nmsg.localFilename = \"/root/.node-red/flows_debian01.json\";\nreturn msg;","outputs":1,"noerr":0,"x":352.8571472167969,"y":375.71429443359375,"wires":[["fd31131a.2180c8","ed5da03d.9a7338"]]},{"id":"a2a9bf45.ddf7f8","type":"inject","z":"41d20a2.58b8374","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":157.14288330078125,"y":375.71429443359375,"wires":[["7bba2c89.820024"]]}]
